#home-section{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    z-index: 10;
    position: relative;
}
#card{
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
}
#user-input{
    border: 1px black solid;
    position: absolute;
    
}
.login-form{
    position: relative;
}
.description{
    height: 100px;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}